<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ua.mkh.settings.full"
    android:installLocation="auto"
    android:versionCode="37"
    android:versionName="4.1.14">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="24" />

    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.UPDATE_DEVICE_STAT" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.SET_TIME" />
    <uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name_orig"
        android:theme="@style/AppTheme"
        tools:replace="icon, label">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name_desk">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ActivityWifi" />
        <activity android:name=".ActivityBth" />
        <activity android:name=".ActivitySota" />
        <activity android:name=".ActivityOperator" />
        <activity android:name=".ActivityZvuki" />
        <activity android:name=".ActivityOboi" />
        <activity android:name=".ActivityOsnova" />
        <activity android:name=".ActivityInfo" />
        <activity android:name=".ActivityGeo" />
        <activity android:name=".ActivityStart" />
        <activity android:name=".ActivityDisturb" />
        <activity android:name=".ActivityBrightness" />
        <activity android:name=".ActivityFromTime" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".ActivityAppsNotifications" />
        <activity android:name=".ActivityAppsControl" />
        <activity android:name=".ActivityAppsMail" />
        <activity android:name=".ActivityAppsNotes" />
        <activity android:name=".ActivityAppsPhone" />
        <activity android:name=".ActivityAppsMessages" />
        <activity android:name=".ActivityAppsCompass" />
        <activity android:name=".ActivityAppsGameCenter" />
        <activity android:name=".ActivityAppsMusic" />
        <activity android:name=".ActivityAppsSafari" />
        <activity android:name=".ActivityAppsWeather" />
        <activity android:name=".ActivityAppsiTunes" />
        <activity android:name=".ActivityAppsiCloud" />
        <activity android:name=".ActivityApps" />
        <activity android:name=".ActivityAppsNew1" />
        <activity android:name=".ActivityAppsNew2" />
        <activity android:name=".ActivityAppsNew3" />
        <activity android:name=".ActivityAppsNew4" />
        <activity android:name=".ActivityStorage" />
        <activity android:name=".ActivityInformations" />
        <activity android:name=".ActivityAbout" />
        <activity android:name=".setWallpaper" />
        <activity android:name=".ActivityiCloud" />
        <activity android:name=".ActivityAppsMaps" />
        <activity android:name=".ActivityAppsVk" />
        <activity android:name=".ActivityAppsViber" />
        <activity android:name=".ActivityAppsOk" />
        <activity android:name=".ActivityAppsSkype" />
        <activity android:name=".ActivityAppsWhatsapp" />
        <activity android:name=".ActivityAppsTwitter" />
        <activity android:name=".ActivityAppsFacebook" />
        <activity android:name=".ActivityAppsInstagram" />
        <activity android:name=".ChooseWallpaper" />
        <activity android:name=".ActivitySetRingtone" />
        <activity android:name=".ActivitySetNotifications" />
        <activity android:name=".ActivitySetAlarms" />
        <activity android:name=".ActivityAllowDisturb" />
        <activity android:name=".ActivityTimeout" />
        <activity android:name=".ActivityVPN" />
        <activity android:name=".ActivityTextSize" />
        <activity android:name=".ActivityBattery" />
        <activity android:name=".ActivityUsage" />
        <activity android:name=".ViewWallpaper" />
        <activity android:name=".ActivityWifiInfo" />
        <activity android:name=".ActivitySetTime" />
        <activity android:name=".ActivitySearchiPhone" />
        <activity android:name=".ActivityHandoff" />
        <activity android:name=".ActivityRegion" />
        <activity android:name=".ActivityRegulatory" />
        <activity android:name=".ActivityUsageInfo" />
        <activity android:name=".ActivitySotaParam" />
        <activity android:name=".ActivityCarPlay" />
        <activity android:name=".ActivityAppleID" />
        <activity android:name=".ActivityNameAppleID" />
        <activity android:name=".ActivityEmailAppleID" />
        <activity android:name=".ActivityName" />
        <activity android:name=".ActivityPhoneAppleID" />
        <activity android:name=".ActivityPhone" />
        <activity android:name=".ActivityAdress" />
        <activity android:name=".ActivityPasswordAppleID" />
        <activity android:name=".ActivityPlatezh" />
        <activity android:name=".ActivityAddCard" />
        <activity android:name=".ActivityiTunes" />
        <activity android:name=".ActivityMail"/>
        <activity
            android:name=".ActivityCharge"
            android:theme="@style/Theme.Transparent" />
        <activity
            android:name=".MessageBox"
            android:theme="@style/Theme.Transparent" />

        <receiver
            android:name=".AlarmReceiverOn"
            android:process=":remote" />
        <receiver
            android:name=".AlarmReceiverOff"
            android:process=":remote" />
        <receiver android:name=".Blocker">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.PHONE_STATE" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BATTERY_CHANGED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
                <action android:name="android.intent.action.ACTION_BATTERY_LOW" />
                <action android:name="android.intent.action.ACTION_BATTERY_OKAY" />
            </intent-filter>
        </receiver>
        <!--
       		<service android:name=".NotificationService">
       		  
       		</service>
       		
       		
       		

       <service android:name=".MyAccessibilityService"
    		android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
    	<intent-filter>
        <action android:name="android.accessibilityservice.AccessibilityService" />
    	</intent-filter>
</service>
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



        <service
            android:name=".MyService">
        </service>
    </application>

</manifest>